@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Anaheim);

@media (min-width: 992px) {
	.row div p {
		height: 80px;
		overflow: hidden;
	}
	.row div img {
		max-height: 175px;
		overflow: hidden;
	}
}

/*General styling*/

body {
	background-color: #474b4a;
	color: #acccca;
	font-family: 'Anaheim', sans-serif;
}

h1, h2 {
	font-family: 'Anaheim', sans-serif;	
}

.my-navigation-text {
	font-family: 'Share Tech Mono', sans-serif;
}

#my-logo {
	color: #37cdc7;
}

#my-nav-menu {
	float: right;
}

.starter-template .my-container {
	text-align: left;
	background-color: #212123;
	padding: 4px;
}

/*Project.html styling*/

div.my-portfolio {
	font-size: 14px;
	text-align: center;
	background-color: #212123;
}

div.my-portfolio:hover {
	border-color: #37cdc7;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px
		rgba(0, 0, 0, 0.075), 0 0 10px
		rgba(55, 205, 199, 0.8);
	box-shadow: inset 0 1px 1px
		rgba(0, 0, 0, 0.075), 0 0 10px
		rgba(55, 205, 199, 0.8);
	cursor: pointer;
}

.row {
	display: table-row;
}

.my-portfolio img {
	width: 100%;
}

.my-portfolio span {
	font-size: 20px;
	padding-top: 6px;
}

.my-modal .modal-dialog {
	width: 80%;
	top: 50px;
}

.my-modal .modal-content {
	background-color: #212123;
	border-color: #fff;
	/*width: 100%;*/
}

.my-modal .modal-title {
	color: #37cdc7;
	font-family: 'Share Tech Mono', sans-serif;
}

.my-modal button.close {
	color: #fff;
	font-size: 36px;
	margin-top: -8px;
}

.my-modal .row div img {
	height: auto;
	max-height: none;
	width: 100%;
}

.my-modal span {
	padding: 0;
	margin: 0;
	color: #fff;
}

.my-modal .row div p {
	height: auto;
}

.my-modal .modal-footer {
	text-align: left;
}
/*Contact.html styling*/

form input {
	margin: 0 0 20px 0;
}

form label {
	float: right;
	box-sizing: border-box;
	border-color: #212123;
	border-width: 1px;
	border-style: solid;
	background-color: #212123;
	border-radius: 4px 4px 0 0;
	padding: 6px 12px;
	font-size: 18px;
}

form label:hover {
	cursor: pointer;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	color: #37cdc7;
}

form label i {
	padding-left: 6px;
	color: #37cdc7;
}

.form-control:focus {
	border-color: #37cdc7;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px
		rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(55, 205, 199, 0.6);
	box-shadow: inset 0 1px 1px
		rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(55, 205, 199, 0.6);
}

.my-right-contact {
	text-align: right;
}

.my-right-contact span {
	font-size: 30px;
}

.my-right-contact div {
	margin-top: 28px;
}

#track-avail {
	display: inline-block;
	box-sizing: border-box;
	width: 48%;
	padding: 38px 8px 12px 0;
	font-size: 18px;
	background-color: #37cdc7;
	border-color: #37cdc7;
	border-color: rgba(55, 205, 199, 0.6);
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	color: #212123;
}

#track-geoloc {
	margin-top: 20px;
	background: url("../images/map.jpg");
	width: 100%;
	height: 240px;
	padding: 10px 0 0 20px;
	color: #37cdc7;
}

#track-geoloc span {
	background-color: #212123;
	padding: 4px 8px 4px 8px;
	font-size: 20px;

	border-radius: 4px;
}


/*Animations*/

